header {
  height: 60px;
  background-color: black;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

header a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.page-list {
  display: flex;
  gap: 12px;
}
.page-list a {
  padding-right: 16px;
}
.page-list a:first-of-type {
  border-right: 1px solid white;
}
html,
body {
  padding: 0;
  margin: 0;
}

.page-title {
  font-size: 24px;
  font-weight: bold;
}
.page {
  padding: 30px;
}
button {
  height: 30px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: bold;
  border: none;
}
.create-button {
  background-color: black;
  color: white;
}

.avatar {
  height: 80px;
  width: auto;
}
.contacts {
  display: grid;
  margin-bottom: 20px;
  margin-top: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
.contact {
  display: flex;
  gap: 15px;
  min-width: 300px;
  max-width: 450px;
  border: 2px solid black;
  padding: 10px;
  align-items: center;
  cursor: pointer;
}

input {
  height: 25px;
  padding-left: 10px;
}

@media only screen and (max-width: 1400px) {
  .contacts {
    display: grid;
    margin-bottom: 20px;
    margin-top: 20px;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}
@media only screen and (max-width: 900px) {
  .contacts {
    display: grid;
    margin-bottom: 20px;
    margin-top: 20px;
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
